/* We make custom color variables and override some bulma classes */
$primary: #2D728F;
$secondary: #3B8EA5;
$yellow: #F5EE9E;
$orange: #F49E4C;
$red: #AB3428;
$grey: #EDEAEA;
$details: #878686;
$nav_icons: #f2e8e8;

/* Use variables to override specific classes in bulma */
$info: $details;

@import 'node_modules/bulma/bulma'; /* We import bulma's own sass source file*/

body{
    padding-bottom: 4rem;
}

/* Set hover color for buttons using the primary color */
.button.is-primary{
    &:hover {
        background: $secondary;
    }
}


/* Icons used in navbar */
.nav-icons{
    color: $nav_icons;

    &:hover {
        background: none;
    }
}
.active-link .nav-icons{
    color: $orange;
}

/* Other icons */
.icons{
    color: $details;
}


.logo{
    color: $orange;
    font-weight: bold;
}

/* Border radius */
.bottom-nav{
    border-radius: 12px 12px 0px 0px;
}
.border{
    border: 1px solid;
    border-color: $grey;
    border-radius: 4px;
}


.input:focus{
    border-color: $primary;
    box-shadow: none;
}


/* Custom profile image styling */

img.is-rounded,
p.is-rounded {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $primary;
    background: $grey;
}

.profile-image{
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $primary;
    background: $grey;
}


/* Navbar styling */
.navbar-burger{
    background: none;
    color: $primary;
}
.navbar-burger.is-active{
    background: none;
    color: $primary;
}


/* Custom scroll effect when there is much content */
.scroll-box{
    overflow-y: scroll;
    max-height: 300px;

    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-thumb{
        background: $primary;
        border-radius: 6px;
    }
}


/* Centering a flex element */
.center{
    justify-content: center;
    align-items: center;
}

.user-list{
    justify-content: space-between;
    align-items: center;
}

.user-info{
    align-items: center;
    gap: 0.5rem;
}


/* Desktop specific */
@media screen and (min-width: 1088px) {

    .has-margin-vertical-desktop {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .has-margin-horizontal-desktop {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
      }

      .full-height{
        height: 100vh;
      }
    }