<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script>
    <script src="https://kit.fontawesome.com/422cf8348a.js" crossorigin="anonymous"></script>
    <title>{% block title %}Titel{% endblock %}</title>
</head>
<body>
<!--First nav is a bottom navbar, the second one is a top navbar-->
{% block navbar %}
    {% if session.user_id %}
        <nav class="navbar is-fixed-bottom">
            <div class="navbar-brand">
                <a href="{{ url_for('dashboard.dashboard') }}" class="navbar-item">Dashboard</a>
                <a href="#" class="navbar-item">Fællesskab</a>
                <a href="{{ url_for('challenges.challenges') }}" class="navbar-item">Udfordringer</a>
            </div>
        </nav>
    {% else %}
        <nav class="navbar is-fixed-top" x-data="{ isOpen: false }">
            <div class="navbar-brand">
                <p class="title is-3 logo py-2 px-2">
                    BikeMate
                </p>
                <a role="button" class="navbar-burger" aria-label="menu" :class="{ 'is-active': isOpen }" @click="isOpen = !isOpen">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" :class="{ 'is-active': isOpen }">
                <div class="navbar-end">
                    <a href="{{ url_for('users.signup') }}" class="navbar-item">Opret bruger</a>
                    <a href="{{ url_for('users.login') }}" class="navbar-item">Log ind</a>
                </div>
            </div>
        </nav>
    {% endif %}
{% endblock %}

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>

<footer class="footer {% if session.user_id %}is-hidden{% endif %}">
    <div class="content has-text-centered-desktop">
        <p class="title is-4 logo">BikeMate</p>
    </div>
</footer>

</html>