<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!--We refer to the styles.css where our sass code is compiled to-->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script>
    <script src="https://kit.fontawesome.com/422cf8348a.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <title>{% block title %}Titel{% endblock %}</title>
</head>
<body>
<!--First nav is a bottom navbar, the second one is a top navbar-->
{% block navbar %}
    {% if session.user_id %}
        <nav class="navbar is-fixed-bottom is-primary bottom-nav py-4 mt-5 is-flex center">
            <div class="navbar-brand">
                <a href="{{ url_for('dashboard.dashboard') }}" class="navbar-item mx-3
                {{ 'active-link' if active_page == 'dashboard'}}">
                    <span class="icon">
                        <i class="fa-solid fa-circle-user fa-2xl nav-icons"></i>
                    </span>
                </a>
                <a href="{{ url_for('friends.friends') }}" class="navbar-item mx-3
                {{ 'active-link' if active_page == 'friends'}}">
                    <span class="icon">
                        <i class="fa-solid fa-users fa-2xl nav-icons"></i>
                    </span>
                </a>
                <a href="{{ url_for('challenges.challenges') }}" class="navbar-item mx-3
                {{ 'active-link' if active_page == 'challenges'}}">
                    <span class="icon">
                        <i class="fa-solid fa-fire-flame-curved fa-2xl nav-icons"></i>
                    </span>
                </a>
                <a href="#" class="navbar-item mx-3">
                    <span class="icon">
                        <i class="fa-solid fa-bell fa-2xl nav-icons"></i>
                    </span>
                </a>
            </div>
        </nav>
    {% else %}
        <nav class="navbar is-fixed-top" x-data="{ isOpen: false }">
            <div class="navbar-brand">
                <h1 class="title mb-0 is-3 logo py-2 px-2">
                    BikeMate
                </h1>
                <a role="button" class="navbar-burger" aria-label="menu" :class="{ 'is-active': isOpen }" @click="isOpen = !isOpen">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" :class="{ 'is-active': isOpen }">
                <div class="navbar-end">
                    <a href="{{ url_for('users.signup') }}" class="navbar-item">Opret bruger</a>
                    <a href="{{ url_for('users.login') }}" class="navbar-item">Log ind</a>
                </div>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% include 'flash_messages.html' %}

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>