{% extends 'base.html' %}

{% block title %}Udfordringer{% endblock %}

{% block content %}

    <span class="icon p-5">
        <a href="{{ url_for('challenges.show_event_form') }}">
            <i class="fa-solid fa-calendar-plus fa-2xl has-text-primary"></i>
        </a>
    </span>

    <section class="section" x-data="{ activeTab: 'all_events' }">
        <div class="columns is-centered is-block-tablet">
            <div class="column center is-12">
                <button class="button mr-2" x-on:click="activeTab = 'all_events'"
                x-bind:class="{ 'is-primary': activeTab === 'all_events' }"
                >
                    Find events
                </button>
                <button class="button" x-on:click="activeTab = 'users_events'"
                x-bind:class="{ 'is-primary': activeTab === 'users_events' }"
                >
                    Dine events
                </button>
            </div>
            <div class="column has-text-centered is-12">
                <!--TODO: Lav a tags, url_for og routes som håndterer sortering via følger, seneste etc-->
                <button class="button">
                        Relevante
                </button>
                <button class="button">
                        Følger
                </button>
                <button class="button">
                    Seneste
                </button>
            </div>
        </div>

        <div class="container" x-show="activeTab === 'all_events'">
            {% if all_events %}
                {% for event in all_events %}
                <div class="columns box is-centered is-block-tablet">
                    <div class="column">
                        <p class="subtitle is-size-5 has-text-weight-semibold">
                            {{ event.title }}
                        </p>
                    </div>
                    <div class="column ">
                        {{ event.description }}
                        {{ event.created_formatted }}
                    </div>
                    <div class="column">
                        {{ event.location }}
                    </div>
                    <button class="button">Deltag</button>
                    <!--TODO: Man skal kun kunne deltage i andres, ikke ens eget-->
                </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="container" x-show="activeTab === 'users_events'">
            {% if users_events %}
                {% for event in users_events %}
                <div class="columns box is-block-tablet">
                    <div class="column">
                        {{ event.title }}
                    </div>
                    <div class="column">
                        {{ event.description }}
                    </div>
                    <div class="column">
                        {{ event.created_formatted }}
                    </div>
                    <div class="column">
                        {{ event.location }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>

{% endblock %}