{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <div class="dropdown is-pulled-right is-right p-2" x-data="{ open: false }" x-bind:class="{ 'is-active': open }">
        <div class="dropdown-trigger">
            <div x-bind:class="{ 'is-active': open }" @click="open = !open" aria-haspopup="true" aria-controls="dropdown-menu">
                    <a href="#">
                        <i class="fa-solid fa-ellipsis fa-2xl icons"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="dropdown-menu pr-4">
            <div class="dropdown-content" x-show="open">
                <div x-data="{ showFile: false }">
                    <button @click="showFile = !showFile">Upload profilbillede</button>
                    <form action="{{ url_for('dashboard.upload_picture') }}" method="post" enctype="multipart/form-data" x-show="showFile">
                      <input type="file" name="file">
                      <button type="submit">Upload</button>
                    </form>
                  </div>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="{{ url_for('dashboard.remove_picture') }}">Fjern profil billede</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="{{ url_for('dashboard.logout') }}">Log ud</a>
            </div>
        </div>
    </div>

    {% if session.first_name %}
        <section class="section has-text-centered">
            {% set initials = session.first_name[0] %} <!--Get the first letter-->
            <div class="is-flex center">
                {% if image_path %}
                    <figure>
                        <img class="round-shape image-fit" src="{{ url_for('static', filename=image_path) }}" alt="profilbillede">
                    </figure>
                {% else %}
                    <div class="round-shape">
                    <p class="title is-3 pt-5 round-shape">{{ initials }}</p>
                    </div>
                {% endif %}
            </div>
            <h1 class="title is-4">
                {{session.first_name}}
                {{session.last_name}}
            </h1>
        </section>
    {% endif %}

    <section class="section pt-0">
        <div class="container">
            <div class="columns is-marginless content-box is-block-desktop is-multiline">
                <div class="column is-12-tablet px-3">
                    <span class="icon-text">
                        <p class="title is-5">Detaljer</p>
                        <span class="icon" x-data="{ showForm: false }">
                            <i class="fa-solid fa-pen icons" @click="showForm = !showForm"></i>
                        </span>
                    </span>

                    <form method="post" x-show="showForm" action="{{ url_for('dashboard.upload_bio') }}">
                        {{ form.csrf_token }}
                        <div class="field">
                            {{ form.description }}
                        </div>
                        <button class="button" type="submit">
                            {{ form.submit }}
                        </button>
                    </form>

                    {% if bio %}
                    <p>
                        {{ bio }}
                    </p>
                    {% else %}
                    <p>
                        Skriv lidt om dig selv
                    </p>
                    {% endif %}
                </div>
                <div class="column is-12-tablet px-3">
                    <span class="icon-text">
                        <p class="title is-5">Cykeldetaljer</p>
                        <span class="icon">
                            <a href="#">
                                <i class="fa-solid fa-pen icons"></i>
                            </a>
                        </span>
                    </span>
                    <div class="column is-12-tablet is-narrow is-flex">
                        <p>Test</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section pt-0">
        <div class="container">
            <div class="columns is-marginless content-box border-radius scroll-box is-block-tablet">
                <div class="column is-flex is-justify-content-space-evenly my-3">
                    <p class="title is-5 mb-0">0 Følger</p>
                    <p class="title is-5">0 Følgere</p>
                </div>
                <div class="field px-4">
                    <div class="control has-icons-left">
                        <input class="input" type="text" placeholder="Find en ven...">
                        <span class="icon is-left">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                    </div>
                </div>
                {% if user_friends %}
                    {% for friend in user_friends %}
                        <div class="column">
                            {{ friend }}
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="subtitle is-6 px-4 py-3">Du har ikke tilføjet nogle venner</p>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}