{% extends 'base.html' %}

{% block title %}Feed{% endblock %}

{% block content %}

    <section class="section py-0">
        <div class="container">
            <div class="columns is-block-tablet">
                <div class="column has-text-right pt-6">
                    <a href="#">
                        <i class="fa-solid fa-user-plus fa-2xl primary"></i>
                    </a>
                </div>
                <div class="column has-text-centered">
                    <a class="title is-4 m-2 {{ 'feed-button' if active_page == 'feed' }}"
                        href="{{ url_for('feed.feed') }}">
                        Feed
                    </a>
                    <a class="title is-4 m-2" href="#">Grupper</a>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <section class="section pb-0 pt-0">
        <div class="container">
            <div class="field">
                <form method="GET" action="{{ url_for('feed.feed') }}">
                    <div class="control has-icons-left">
                        <input class="input is-medium" type="text" name="search_content" placeholder="Søg efter et opslag...">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-magnifying-glass nav-icons"></i>
                        </span>
                    </div>
                    <div class="control has-text-right py-4">
                        <button class="button feed-button" type="submit">
                            <p class="is-size-5">Søg</p>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    {% include 'posts.html' %}

{% endblock %}