{% extends 'base.html' %}

{% block title %}Find venner{% endblock %}

{% block content %}

<div class="section">
    <!--Use the profile_component to show users who have requested friendship-->
    {% if friend_requests %}
        <p class="subtitle is-5 has-text-centered">
            Venneanmodninger
        </p>
        <div class="container is-flex-tablet center is-multiline">
            {% for request in friend_requests %}
                {% with profile=request %}
                    {% with context='request' %}
                        {% include 'profile_component.html' %}
                    {% endwith %}
                {% endwith %}
            {% endfor %}
        </div>
        <hr class="dropdown-divider">
    {% endif %}
    <div class="container is-max-desktop pt-4">
        <form class="is-flex" action="{{ url_for('friends.friends') }}" method="get">
            <input class="input mr-2" type="text" name="search_term" placeholder="Søg efter personer...">
            <button class="button is-primary" type="submit">Søg</button>
        </form>
    </div>
</div>
<div class="section">
    <!--Use the profile_component to show users when searching-->
    {% if results %}
        <p class="title has-text-info is-5 has-text-centered">Personer</p>
        <div class="container is-flex-tablet center is-multiline">
            {% for result in results %}
                {% with profile=result %}
                    {% with context='search' %}
                        {% include 'profile_component.html' %}
                    {% endwith %}
                {% endwith %}
            {% endfor %}
        </div>
    {% else %}
        <div class="container has-text-centered">
            <span class="icon has-text-info pb-2">
                <i class="fa-solid fa-user-plus"></i>
            </span>
            <p class="title has-text-info is-5 has-text-centered">
                Søg efter andre brugere og bliv inspireret...
            </p>
        </div>
    {% endif %}
</div>
<div class="section">
    {% if recommended_friends %}
        <hr class="dropdown-divider">
        <p class="title has-text-info pt-4 is-5 has-text-centered">Du kender måske...</p>
        <div class="container is-flex-tablet center is-multiline">
            {% for friend in recommended_friends %}
                {% with profile=friend %}
                    {% with context='recommended' %}
                        {% include 'profile_component.html' %}
                    {% endwith %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
</div>


{% endblock %}