{% extends 'base.html' %}

{% block title %}Find venner{% endblock %}

{% block content %}

<div class="section">
    <h1 class="title is-4 has-text-centered">
        Søg efter personer
    </h1>
    <div class="columns">
        <div class="column is-flex center mb-4">
            <form class="is-flex" action="{{ url_for('friends.friends') }}" method="get">
                <input class="input mr-2" type="text" name="search_term" placeholder="Søg...">
                <button class="button is-primary" type="submit">Søg</button>
            </form>
        </div>
        {% for result in results %}
            <div class="box">
                <div class="column">
                    {% if result.imagePath %}
                        <img src="{{ url_for('static', filename=result.imagePath) }}" alt="profilbillede">
                    {% else %}
                        <p class="title has-text-centered is-3">
                            {{ result.firstName[0] }}
                        </p>
                    {% endif %}
                </div>
                <div class="column has-text-centered">
                    {{ result.firstName }} {{ result.lastName }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}