{% extends 'base.html' %}

{% block title %}Opret bruger{% endblock %}


{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-multiline is-centered is-vcentered">
            <div class="column is-5-tablet is-12-mobile">
                <img src="../static/images/login_bikemate.jpg" alt="Bikemate">
            </div>
            <div class="column is-5-tablet is-12-mobile">
                <h1 class="title is-4">BikeMate</h1>
                <p class="subtitle is-5 has-text-primary">Motivation og fællesskab</p>
                <p>
                    Bikemate er dit digitale værktøj til motivering og fællesskab.
                    Med BikeMate kan du holde dig opdateret omkring dine venners aktivitet
                    og samtidig holde øje med din egen. Opret events, inviter og deltag.
                    Begynd at brug BikeMate med det samme ved at oprette en bruger
                    eller log ind med en eksisterende hvis du allerede har en bruger.
                </p>
            </div>
            <div class="column is-5-tablet is-12-mobile">
                <h1 class="title is-4 logo">En digital løsning</h1>
                <p>
                    Bikemate er dit digitale værktøj til motivering og fællesskab.
                    Med BikeMate kan du holde dig opdateret omkring dine venners aktivitet
                    og samtidig holde øje med din egen. Opret events, inviter og deltag.
                    Begynd at brug BikeMate med det samme ved at oprette en bruger
                    eller log ind med en eksisterende hvis du allerede har en bruger.
                </p>
            </div>
            <div class="column is-5-tablet is-12-mobile">
                <img src="../static/images/signup_bike_img.jpg" alt="Bikemate">
            </div>
        </div>
    </div>
</section>

{% endblock %}