{% extends 'base.html' %}

{% block title %}Opret bruger{% endblock %}


{% block content %}

<section class="hero is-large has-bg-img">
    <div class="hero-body vcenter has-text-centered-mobile">
        <h1 class="title is-3 py-1 has-text-light text-shadow">Mere end bare en cykeltur</h1>
        <p class="subtitle is-4 has-text-primary text-shadow">Sammen skaber vi vejen frem</p>
        <a href="{{ url_for('users.signup') }}" class="button is-medium is-rounded is-primary">
            Kom i gang!
        </a>
    </div>
  </section>

<section class="section">
    <div class="container">
        <div class="columns is-multiline is-centered is-vcentered">
            <div class="column is-5-tablet is-12-mobile">
                <img src="../static/images/login_bikemate.jpg" alt="Bikemate">
            </div>
            <div class="column is-5-tablet is-12-mobile">
                <p class="subtitle is-5 has-text-primary">Motivation og fællesskab</p>
                <p>
                    Bikemate er dit digitale værktøj til motivering og fællesskab.
                    Vi tror på at cykling ikke blot er en motionsform, men en livsstil
                    som kan resultere i en række positive resultater såsom sundhed, glæde
                    og overskud.
                    Med BikeMate kan du holde dig opdateret omkring dine venners aktivitet
                    og samtidig holde øje med din egen. Opret events, inviter og deltag.
                    Prøv BikeMate med det samme ved at oprette en bruger!
                </p>
            </div>
            <div class="column is-5-tablet is-12-mobile">
                <p class="subtitle is-5 has-text-primary">Cykling for alle</h1>
                <p>
                    Uanset om du er interesseret i weekendsture, dagsture eller seriøs holdsport,
                    så har BikeMate noget for dig. BikeMate sigter efter at være en platform, hvor cyklister
                    på alle niveauer kan være med, og finde andre ligesindende gennem events.
                    <br><br>Hos BikeMate er der noget for alle.
                </p>
            </div>
            <div class="column is-5-tablet is-12-mobile">
                <img src="../static/images/signup_bike_img.jpg" alt="Bikemate">
            </div>
        </div>
    </div>
</section>

{% endblock %}