{% extends 'base.html' %}

{% block title %}Udfordringer{% endblock %}

{% block content %}

<div class="container" x-show="activeTab === 'all_events'">
    <h2>{{ event.title }}</h2>
    <p>{{ event.description }}</p>
    <p>Location: {{ event.location }}</p>
    <p>Admin: {{ event.admin }}</p>
    <p>Deltagere: {{ event.participants }}</p>
    {% if is_joined %}
        <form action="{{ url_for('challenges.unjoin_event', event_id=event.event_id) }}" method="post">
            <button type="submit" class="button">Afmeld</button>
        </form>
    {% else %}
        <form action="{{ url_for('challenges.join_event', event_id=event.event_id) }}" method="post">
            <button type="submit" class="button">Deltag</button>
        </form>
    {% endif %}
</div>

{% endblock %}